body{
	background:#f8f8f8;
	margin-top:30px; /*for navigation */
}


.pricing-page * div>p{
	font-size:13px;
	color:#8a8a8a;
}

.pricing-page * b{
	color:#f7b942;
}

.pricing-page * nav>ul>li:hover{
	background:#4d7ba5;
	color:#2f3841;
}


.pricing-page * h1>a{
	color:#568bbc !important;
}


.pricing-page * section>ul>li{
	border:none !important;
	padding-top:13px;
}



.pricing-page * .amn_head{
	background:#568bbc;
	height:213px;
	width:auto;
	margin:auto;
	padding-top:28px;
}

.pricing-page * .amn_banner_con{
	background:#6695c1;
	width:100%;
	height:163px;
	margin:auto !important;
	padding:18px;
}

.pricing-page * .login{
	height:calc(100% + (18px*2));
	background:#fbfbfb;
	margin:-18px;
}

.pricing-page * .login_head{
	background:#446686;
	font-size:13px;
	padding:10px;
	text-align:center;
	font-style:italic;
}


.pricing-page * input{
	font-size:13px !important;
	height:30px !important;
	margin-bottom:8px !important;
}

.pricing-page * .button{
	float:right;
	font-style:italic;
	color:white;
	margin-left:10px;
	width:65px !important;
	transition:none;
	padding:6px !important;
}


.pricing-page * small>a{
	margin-right:7px;
	margin-left:7px;
}

.pricing-page * .signup_btn{
	background:#f7b942;
}



.pricing-page * .login_head>a{
	color:#d2d1d1;
}

.pricing-page * .head_button{
	padding:7px;
	margin-right:4px;
	background:#f8f8f8;
	width:auto;
	float:left;
	font-size:13px;
	font-family:'Arial';
	color:#8a8a8a;
}

.pricing-page * .head_button:hover{
	background:#568bbc;
	color:white;
	cursor:pointer;
}

.pricing-page * .body{
	margin-top:22px;
}

.pricing-page * li.title{
	font-weight:600;
	color:white;
	list-style-type:none;
	background:#568bbc;
}




.pricing-page * li{
	border-bottom:1px solid #c7c7c7;
	padding:5px;
	color:#8a8a8a;
	font-style:italic;
	list-style-position: inside;
	font-size:12px;
}
/*
li:not(.title):before{
	content:"\2022";
	font-style:normal;
	font-size:15px;
	color:#8a8a8a;
	margin-right:4px;
}
*/

.pricing-page * li:hover{
	background:#e4e4e4;
	cursor:pointer;
}

.pricing-page * li.title:hover{
	background:#568bbc;
}

.pricing-page * .sidebar{
	margin-top:70px;
}

.pricing-page * a:hover{
	color:white !important;
	text-decoration: none;
}

.pricing-page * li{
	transition:background 0.1s;
}


.pricing-page * h1{
	font-size:37px;
	color:#326492;
	font-family:'Sedan';
	font-weight:400;
}

.pricing-page * ul.p_number>li{
	color:#f7b942 !important;
}

.pricing-page * ul.p_number>li:hover, ul.email>li:hover{
	background:#2f3841 !important;
}

.pricing-page * body>p{
	font-family:'Arial';
	color:#646464;
	line-height:25px;
}

.pricing-page * iframe{
	height:relative;
	overflow:hidden;
	margin-top:70px;
	transition:opacity 1s;
	border:none; /* firefox */
}

.pricing-page * .frame_img{
	width:100%;
	height:100%;
}

.pricing-page *  #frame{
		margin-top:70px;
		letter-spacing: 0px
}


@media screen and (max-width:360px){
	li.title{
		margin-left:-33px;
	}
	.drop{
		display:none;
	}

	.head_button{
		display:none;
	}

	.login{
		margin:auto;
	}
}



@media screen and (min-width:768px){

}

