
.bubble-review {
    position: relative;
    width: 100%;
    padding: 20px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;

    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    background: linear-gradient(bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */    
}

.bubble-review:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #e5f4ff;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 30px;
}

.bubble-review p:before {
    content: "\201C";
    position: absolute;
    left: 10px;
}

.bubble-review p { 
    margin-bottom: 0px;
}

.bubble-review p:after { 
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.bubble-comment {
    position: relative;
    width: 100%;
    padding: 20px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(bottom,  #ffffff 0%,#cccccc 100%); /* W3C */
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
}

.bubble-comment:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent rgba(233, 233, 233, 1);
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 30px;
}

.bubble-comment p:before {
    content: "\201C";
    position: absolute;
    left: 10px;
}

.bubble-comment p { 
    margin-bottom: 0px;
}

.bubble-comment p:after { 
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.blog-author {
    display: inline-block;
    margin: 0 0 0 0;
    color: #000000;
    text-align:left;
}

.blog-author span {
    display: block;
    font-size: 12px;
    color: #666;
}