#anatomical-figure{
    width: 100%;
    height:996px;
    background:url('../img/intake-form-anatomical.jpg') no-repeat center center;	
}
#anatomical-figure div{
    cursor:pointer;	
}
.pain-selector{ width:48px; height:47px; background:url('../img/pain-pointer.png') no-repeat center center;}

.hidden{ display:none}