
body, h1, h2, h3, h4, h5, a{  
    font-family:'PT Sans' !important;
}

.orbit-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    background: none;     
}

.orbit-container .orbit-slides-container {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transform: translateZ(0); 
}

.orbit-container .orbit-slides-container img {
    display: block;
    max-width: 100%; 
}

.orbit-container .orbit-slides-container.fade > li {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); 
}

.orbit-container .orbit-slides-container.fade > li.animate-in {
    opacity: 1;
    z-index: 20;
    transition: opacity 500ms ease-in-out; 
}

.orbit-container .orbit-slides-container.fade > li.animate-out {
    z-index: 10;
    transition: opacity 500ms ease-in-out; 
}

.orbit-container .orbit-slides-container.swipe-next > li {
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); 
}

.orbit-container .orbit-slides-container.swipe-next > li.animate-in {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: 500ms; 
}

.orbit-container .orbit-slides-container.swipe-next > li.animate-out {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition-duration: 500ms; 
}

.orbit-container .orbit-slides-container.swipe-prev > li {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); 
}

.orbit-container .orbit-slides-container.swipe-prev > li.animate-in {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: 500ms; 
}

.orbit-container .orbit-slides-container.swipe-prev > li.animate-out {
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition-duration: 500ms; 
}

.orbit-container .orbit-slides-container > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); 
}

.orbit-container .orbit-slides-container > li > a {
    display: block; 
}

.orbit-container .orbit-slides-container > li.active {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); 
}

.orbit-container .orbit-slides-container > li .orbit-caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    width: 100%;
    padding: 0.55556rem 0.77778rem;
    font-size: 0.77778rem; 
}

.orbit-container .orbit-slide-number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    z-index: 10; 
}

.orbit-container .orbit-slide-number span {
    font-weight: bold;
    padding: 0.27778rem; 
}

.orbit-container .orbit-timer {
    position: absolute;
    top: 12px;
    right: 10px;
    height: 6px;
    width: 100px;
    z-index: 10; 
}

.orbit-container .orbit-timer .orbit-progress {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    width: 0%;
    position: relative;
    right: 20px;
    top: 5px; 
}

.orbit-container .orbit-timer > span {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    width: 11px;
    height: 14px;
    border: solid 4px #fff;
    border-top: none;
    border-bottom: none; 
}

.orbit-container .orbit-timer.paused > span {
    right: -4px;
    top: 0px;
    width: 11px;
    height: 14px;
    border: inset 8px;
    border-left-style: solid;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: transparent #fff transparent transparent; 
}

.orbit-container .orbit-timer.paused > span.dark {
    border-color: transparent #333 transparent transparent; 
}

.orbit-container:hover .orbit-timer > span {
    display: block; 
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
    position: absolute;
    top: 45%;
    margin-top: -25px;
    width: 36px;
    height: 60px;
    line-height: 50px;
    color: white;
    background-color: transparent;
    text-indent: -9999px !important;
    z-index: 10; 
}

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
    background-color: rgba(0, 0, 0, 0.3); 
}

.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    display: block;
    width: 0;
    height: 0;
    border: inset 10px; 
}

.orbit-container .orbit-prev {
    left: 0; 
}

.orbit-container .orbit-prev > span {
    border-right-style: solid;
    border-color: transparent;
    border-right-color: #fff; 
}

.orbit-container .orbit-prev:hover > span {
    border-right-color: #fff; 
}

.orbit-container .orbit-next {
    right: 0; 
}

.orbit-container .orbit-next > span {
    border-color: transparent;
    border-left-style: solid;
    border-left-color: #fff;
    left: 50%;
    margin-left: -4px; 
}

.orbit-container .orbit-next:hover > span {
    border-left-color: #fff; 
}

.orbit-container .orbit-bullets-container {
    text-align: center; 
}

.orbit-bullets-container {
    height: 30px;    
}

.orbit-container .orbit-bullets {
    margin: 0 auto 30px auto;
    overflow: hidden;
    position: relative;
    top: 3px;
    float: none;
    text-align: center;
    display: block; 
}

.orbit-container .orbit-bullets li {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: #ccc;
    float: none;
    margin-right: 6px;
    border-radius: 1000px; 
}

.orbit-container .orbit-bullets li.active {
    background: #999; 
}

.orbit-container .orbit-bullets li:last-child {
    margin-right: 0; 
}

.row {
    width: 100%;
    background-color: #ffffff;
    margin: 0px auto;
    max-width: 60em !important;
}

.row .row {
    margin: 0px;
    padding: 0px;
}

.columns {
    padding: 5px;
}

.header-franchise {
    padding: 0px;
}

.menu-bar-franchise {
    
}

.footer-franchise {
    padding-bottom: 30px;
}

.header-h1 {
    display: block;
    font-size: 28px;
    font-weight: bold;
}

.header-h2 {
    display: block;
    font-size: 18px;
    font-weight: normal;
}

.header-h3 {
    display: block;
    font-size: 27px;
    font-weight: normal;
}

.content-h1 {
    display: block;
    font-size: 25px;
    font-weight: bold;
}

.content-h2 {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.content-h3 {
    display: block;
    font-size: 20px;
    font-weight: normal;
}

.footer-h1 {
    display: block;
    font-size: 19px;
    font-weight: bold;
    color: #27aae0;
}

.footer-h2 {
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: #27aae0;
}

.footer-h3 {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #27aae0;
}

.footer-h4 {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #27aae0;
}

.menu-bar-franchise ul {
    margin: 10px;
    border-top: 2px solid #27aae0;
}

.menu-bar-franchise ul li {
    list-style-type:none;
    display: inline-block;
}

.menu-bar-franchise ul li a {    
    display: block;
    height: 40px;
    width: 150px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 0px 0px 8px 8px;
    background-color: #27aae0;
}

.service-offered {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.service-offered img {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px 5px;
}

.mi-red {
    background: url('../img/marker-red.png') no-repeat;    
    background-size: 100% 100%;
}

.mi-green {
    background: url('../img/marker-green.png') no-repeat;
    background-size: 100% 100%;
}

.mi-orange {
    background: url('../img/marker-orange.png') no-repeat;
    background-size: 100% 100%;
}

.mi-blue {
    background: url('../img/marker-blue.png') no-repeat;
    background-size: 100% 100%;
}

.mi-yellow {
    background: url('../img/marker-yellow.png') no-repeat;
    background-size: 100% 100%;
}

.mi-darkblue {
    background: url('../img/marker-darkblue.png') no-repeat;
    background-size: 100% 100%;
}

.mi-violet {
    background: url('../img/marker-violet.png') no-repeat;
    background-size: 100% 100%;
}

.mi-black {
    background: url('../img/marker-black.png') no-repeat;
    background-size: 100% 100%;
}

.map-reviews {
    display: inline-block;
    height: 27px;
    width: 136px;
    background: url('../img/map-reviews.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-schedulenow {
    display: inline-block;
    height: 27px;
    width: 136px;
    background: url('../img/map-schedulenow.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-viewlocation {
    display: inline-block;
    height: 27px;
    width: 136px;
    background: url('../img/map-viewlocation.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-direction {
    display: inline-block;
    height: 28px;
    width: 82px;
    background: url('../img/map-direction.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-booksession {
    display: inline-block;
    height: 27px;
    width: 136px;
    background: url('../img/map-booksession.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-affiliateblogger {
    display: inline-block;
    height: 27px;
    width: 136px;
    background: url('../img/map-affiliateblogger.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-twitter {
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url('../img/map-twitter.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-google {
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url('../img/map-google.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.about-paragraph {
    height: 100%;
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    padding: 20px;
}

.why-choice-us {
    height: 100%;
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    padding: 20px;
    border: 3px solid #27aae0; 
    margin-bottom: 20px;
}

.location-map-container {
    height: 300px;
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    border: 3px solid #27aae0; 
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.location-map {
    display: block;
    height: 300px;
    width: 100%;
}

.business-hours {
    height: 100%;
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.business-hours table {
    width: 100%;
}

.business-hours table, 
.business-hours tr,
.business-hours td {
    border: none;
    background-color: #ccc;
    text-align: center;
}

.business-hours td:first-child {
    text-align: left;
}

.where-to-park {
    height: 100%;
    width: 100%;
    background-color: #27aae0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.video-player {
    position: relative;
    display: block; 
    height: 30vw;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 3px solid #2d2d2d; 
    border-radius: 8px;
    float: left;
}

.video-player .play {
    position: absolute;
    display: block;
    height: 60px;
    width: 80px;
    background: url('../img/play-video.png');
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -40px;
}

.separator {
    display: block;
    width: 100%;
    height: 4px;
    background: url('../img/separator.png');
    background-size: 100% 100%;
}