
.heading {
    background-color: rgba( 0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #5ac6fe;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;     
    padding: 6px 0 6px 0;
    margin: 0 auto;
}

.detail {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.modality {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    background-color: rgba(45,73,102,0.8);
    float: left;
    margin: 5px;
}

.modality p {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 5px;
    line-height: 19px;
    text-align: center;
}

.modality span:hover {
    font-size: 20px;
    color: #ffffff;
    text-shadow: -1px -1px 0 #5ac6fe, 1px -1px 0 #5ac6fe, -1px 1px 0 #5ac6fe, 1px 1px 0 #5ac6fe;     
}

.modality-animated-icon {
    position: absolute;
    display: block;
    height: 120px;
    width: 87px;    
    top: 30%;
    left: 50%;
    margin-left: -25%;
}

.modality-animated-icon-red {
    background: url('../img/anim-red.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-green {
    background: url('../img/anim-green.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-orange {
    background: url('../img/anim-orange.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-blue {
    background: url('../img/anim-blue.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-yellow {
    background: url('../img/anim-yellow.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-darkblue {
    background: url('../img/anim-darkblue.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-violet {
    background: url('../img/anim-violet.png') no-repeat;
    background-position: 0px 0px;
}

.columns {
    background: transparent;
}

.accordion-item {
    text-align: center;
    color: #ffffff !important;
    background-color: #3b4154 !important;
    margin: 1px;
}

.accordion-item:hover {
    text-align: center;
    color: #5ac6fe !important;
    background-color: #3b4154 !important;
    margin: 1px;
}

#section-2 select {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3b4154;
}

.mission-msg {
    position: relative;
    display: block;     
    height: 30vw;
    width: 96%;    
    margin: 2%;
    border: 1px solid #ffffff; 
    border-radius: 8px;
    color: #ffffff !important;
    background-color: #3b4154 !important;
    float: left;
    padding: 30px;    
    overflow-y: scroll;
}

.mission-msg p {
    text-indent: 50px;
    text-align: left;
    font-size: 16px;
    line-height: 22px;    
}

.video-player {
    position: relative;
    display: block; 
    height: 30vw;
    width: 96%;
    margin: 2%;
    background-color: #ffffff;
    border: 3px solid #2d2d2d; 
    border-radius: 8px;
    float: left;
}

.video-player .play {
    position: absolute;
    display: block;
    height: 60px;
    width: 80px;
    background: url('../img/play-video.png');
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -40px;
}

.accordion .content {
    background-color: #ffffff;
}

//Small
@media only screen {
    
    .link-list {
        position: relative;
        display: block; 
        font-size: 16px;
        width: 540px; 
        height: 300px; 
        border: 1px solid red; 
        border-radius: 8px;
        color: #ffffff !important;
        background-color: red !important;
        margin: 10px 5px 10px 10px;    
        float: left;
    }    
    
}

//Medium
@media only screen and (min-width: 40.063em) {
    
}

//Large
@media only screen and (min-width: 64.063em) {
    
}