
#intake-section #human-body-map {
    display: block;
    background: url('../img/humanmuscle.jpg') no-repeat;
    background-size: 100% 100%;
    height: 600px;
    width: 545px;   
    cursor:pointer;
}

#intake-section input[type="checkbox"] {
    margin: 6px;
}   

#intake-section .modality-marker {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-top: 18px;   
    margin-bottom: -10px;   
}

#intake-section .modality-marker-black {
    background: url('../img/marker-black.png') no-repeat;
}

#intake-section .modality-marker-blue {
    background: url('../img/marker-blue.png') no-repeat;
}

#intake-section .modality-marker-darkblue {
    background: url('../img/marker-darkblue.png') no-repeat;
}

#intake-section .modality-marker-green {
    background: url('../img/marker-green.png') no-repeat;
}

#intake-section .modality-marker-orange {
    background: url('../img/marker-orange.png') no-repeat;
}

#intake-section .modality-marker-red {
    background: url('../img/marker-red.png') no-repeat;
}

#intake-section .modality-marker-violet {
    background: url('../img/marker-violet.png') no-repeat;
}

#intake-section .modality-marker-yellow {
    background: url('../img/marker-yellow.png') no-repeat;
}

#intake-section .modality-desc {
    position: absolute;
    display: block;
    min-height: 50px;
    overflow: auto;
    width: 70%;
    z-index: 99999;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: beige;
    padding: 10px;
}

#intake-section .pain-marker {
    position: absolute;
    display: block;
    background-size: 100% 100%;
    height: 40px;
    width: 40px;     
    z-index: 99999;
}

#intake-section .pain-marker-date {
    position: absolute;
    display: block;
    height: 40px;
    width: 120px;     
    z-index: 99999;
    font-weight: bold;
    color: blue;
}

#intake-section #pain-description {
    position: absolute;
    display: block;
    height: 190px;
    width: 500px;
    border-radius: 15px;
    background-color: beige;
    border: 1px solid gray;
    padding: 10px;
    z-index: 99999;
}

#intake-section #pain-description table {
    width: 100%;
    background-color: beige;
    border: none;
    padding: 0px;
    margin: 0px;
}

#intake-section #pain-description tr,
#intake-section #pain-description td {
    background-color: beige;
    border: none;
    padding: 2px;
}

.modality-selection-button {
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
}

.alert-error {
    color: red;
}