.icon {
    background-image: url(path/to/my/icon.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
}

.map-info {
    margin: 10px; 
    padding: 10px; 
    border: 1px solid gray; 
    border-radius: 8px;
    border: 3px solid #2270ff;
}

.service-offered {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.service-offered img {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px 5px;
}

.mi-red {
    background: url('../img/marker-red.png') no-repeat;    
    background-size: 100% 100%;
}

.mi-green {
    background: url('../img/marker-green.png') no-repeat;
    background-size: 100% 100%;
}

.mi-orange {
    background: url('../img/marker-orange.png') no-repeat;
    background-size: 100% 100%;
}

.mi-blue {
    background: url('../img/marker-blue.png') no-repeat;
    background-size: 100% 100%;
}

.mi-yellow {
    background: url('../img/marker-yellow.png') no-repeat;
    background-size: 100% 100%;
}

.mi-darkblue {
    background: url('../img/marker-darkblue.png') no-repeat;
    background-size: 100% 100%;
}

.mi-violet {
    background: url('../img/marker-violet.png') no-repeat;
    background-size: 100% 100%;
}

.mi-black {
    background: url('../img/marker-black.png') no-repeat;
    background-size: 100% 100%;
}

.map-reviews {
    display: inline-block;
    height: 27px;
    width: 136px;
    background: url('../img/map-reviews.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-schedulenow {
    display: inline-block;
    height: 27px;
    width: 136px;
    background: url('../img/map-schedulenow.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-viewlocation {
    display: inline-block;
    height: 27px;
    width: 136px;
    background: url('../img/map-viewlocation.png') no-repeat;
    background-size: 100% 100%;
    margin: 5px;
}

.map-direction {
    display: inline-block;
    height: 28px;
    width: 82px;
    background: url('../img/map-direction.png') no-repeat;
    background-size: 100% 100%;
    margin-bottom: -10px;
    margin-left: 8px;
}

.map-twitter {
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url('../img/map-twitter.png') no-repeat;
    background-size: 100% 100%;
    margin: 3px 3px 0px 3px;
}

.map-google {
    display: inline-block;
    height: 17px;
    width: 17px;
    background: url('../img/map-google.png') no-repeat;
    background-size: 100% 100%;
    margin: 3px 3px 0px 3px;
}