body {
    background-color: transparent !important;
    width:100%;
    height:100%;	
    font-size:15px;
    /*background: url(../img/bg.jpg) repeat;*/
    background:white;
}

@font-face {
  font-family: '[set]Foundicons';
  src: url('fonts/[set]_foundicons.eot');
  src: url('fonts/[set]_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/[set]_foundicons.woff') format('woff'),
       url('fonts/[set]_foundicons.ttf') format('truetype'),
       url('fonts/[set]_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
 
[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

body,h1,h2,h3,h4,h5,a{  
    font-family:'PT Sans' !important;
}

.row .row {
    background-color: transparent !important;
    margin: 0px;
}

.header-logo {
    width: 258px; 
    height: 120px;
    background: url(../img/logo2.png) no-repeat;
    text-indent: -10001px;
    position: absolute;
    top: 15px;
    left: 50px;
    z-index: 10;
}

h1.example-orbit {
    position: absolute;
    z-index: 10;
}

ul.main-nav .active a{
    color: #1eaee3; 
    background-color: #ffffff;
}

ul.main-nav  {
    display: inline-flex;
    float: right;
    padding: 0px 20px;
    width: 100%;
    height: 60px;
    background-color: #1eaee3;

}

ul.main-nav li:hover {
    background-color: #FFFFFF;

}

ul.main-nav li:hover a {
    color: #1eaee3;

}

ul.main-nav li {
    float:left;
}

ul.main-nav li a {
    padding: 5px 10px 5px 10px;
    display:block;
    color: #ffffff;
}

.main-nav li {

    padding: 15px 15px 0 15px;
    list-style-type:none;
}

.quickLinks ul {
    font-size:12px !important;
    list-style: none;
    padding: 0 0 20px 0;	

}


.top-menu li {
    float: right;
    padding: 15px 0 0 10px;
    font-size: 12px;
    text-decoration: none;
    list-style-type: none;

}

.top-menu li a {

    text-decoration: none;

}

.contact-info {

    clear:both;
    float: right;
}
.contact-info p{
    font-size: 12px;
    line-height:none !important;
}

.number-calltoaction {
    float: right;
    clear: both;
    color: #1eaee3;
}

.ourServices ul li{
    list-style-type:none;


}

.businessHours ul li{
    list-style-type:none;
}

ul.footer-nav  {
    font-size:14px;
    display: inline-block;
    float: right;
    padding: 0px 20px;
    width: 100%;
    height: 60px;


}

ul.footer-nav li:hover {
    background-color: #FFFFFF;
}

ul.footer-nav li:hover a {
    color: #1eaee3;
}

ul.footer-nav li {
    float:left;
}

ul.footer-nav li a {
    padding: 0 10px 5px 0;
    display:block;
    color: #444444;
}

.footer-nav li {
    padding: 0 15px 0 0;
    list-style-type:none;
}

.types-of-modalities {
    float:left;
}

.types-of-massage {
    float:left;
}

.benefits-of-medical-massage {
    float:left;
}

ul.types-of-modalities {
    padding: 0 0 10px 15px;
}

ul.types-of-massage {
    padding: 0 0 20px 15px;
}

ul.benefits-of-medical-massage {
    padding: 0 0 20px 15px;
}

.all-rights-reserved {
    font-size: 12px;
}

.orbit-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    background: none;     
}

.orbit-container .orbit-slides-container {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transform: translateZ(0); 
}

.orbit-container .orbit-slides-container img {
    display: block;
    max-width: 100%; 
}

.orbit-container .orbit-slides-container.fade > li {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); 
}

.orbit-container .orbit-slides-container.fade > li.animate-in {
    opacity: 1;
    z-index: 20;
    transition: opacity 500ms ease-in-out; 
}

.orbit-container .orbit-slides-container.fade > li.animate-out {
    z-index: 10;
    transition: opacity 500ms ease-in-out; 
}

.orbit-container .orbit-slides-container.swipe-next > li {
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); 
}

.orbit-container .orbit-slides-container.swipe-next > li.animate-in {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: 500ms; 
}

.orbit-container .orbit-slides-container.swipe-next > li.animate-out {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition-duration: 500ms; 
}

.orbit-container .orbit-slides-container.swipe-prev > li {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); 
}

.orbit-container .orbit-slides-container.swipe-prev > li.animate-in {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: 500ms; 
}

.orbit-container .orbit-slides-container.swipe-prev > li.animate-out {
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition-duration: 500ms; 
}

.orbit-container .orbit-slides-container > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); 
}

.orbit-container .orbit-slides-container > li > a {
    display: block; 
}

.orbit-container .orbit-slides-container > li.active {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); 
}

.orbit-container .orbit-slides-container > li .orbit-caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    width: 100%;
    padding: 0.55556rem 0.77778rem;
    font-size: 0.77778rem; 
}

.orbit-container .orbit-slide-number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    z-index: 10; 
}

.orbit-container .orbit-slide-number span {
    font-weight: bold;
    padding: 0.27778rem; 
}

.orbit-container .orbit-timer {
    position: absolute;
    top: 12px;
    right: 10px;
    height: 6px;
    width: 100px;
    z-index: 10; 
}

.orbit-container .orbit-timer .orbit-progress {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    width: 0%;
    position: relative;
    right: 20px;
    top: 5px; 
}

.orbit-container .orbit-timer > span {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    width: 11px;
    height: 14px;
    border: solid 4px #fff;
    border-top: none;
    border-bottom: none; 
}

.orbit-container .orbit-timer.paused > span {
    right: -4px;
    top: 0px;
    width: 11px;
    height: 14px;
    border: inset 8px;
    border-left-style: solid;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: transparent #fff transparent transparent; 
}

.orbit-container .orbit-timer.paused > span.dark {
    border-color: transparent #333 transparent transparent; 
}

.orbit-container:hover .orbit-timer > span {
    display: block; 
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
    position: absolute;
    top: 45%;
    margin-top: -25px;
    width: 36px;
    height: 60px;
    line-height: 50px;
    color: white;
    background-color: transparent;
    text-indent: -9999px !important;
    z-index: 10; 
}

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
    background-color: rgba(0, 0, 0, 0.3); 
}

.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    display: block;
    width: 0;
    height: 0;
    border: inset 10px; 
}

.orbit-container .orbit-prev {
    left: 0; 
}

.orbit-container .orbit-prev > span {
    border-right-style: solid;
    border-color: transparent;
    border-right-color: #fff; 
}

.orbit-container .orbit-prev:hover > span {
    border-right-color: #fff; 
}

.orbit-container .orbit-next {
    right: 0; 
}

.orbit-container .orbit-next > span {
    border-color: transparent;
    border-left-style: solid;
    border-left-color: #fff;
    left: 50%;
    margin-left: -4px; 
}

.orbit-container .orbit-next:hover > span {
    border-left-color: #fff; 
}

.orbit-container .orbit-bullets-container {
    text-align: center; 
}

.orbit-bullets-container {
    height: 30px;    
}

.orbit-container .orbit-bullets {
    margin: 0 auto 30px auto;
    overflow: hidden;
    position: relative;
    top: 3px;
    float: none;
    text-align: center;
    display: block; 
}

.orbit-container .orbit-bullets li {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: #ccc;
    float: none;
    margin-right: 6px;
    border-radius: 1000px; 
}

.orbit-container .orbit-bullets li.active {
    background: #999; 
}

.orbit-container .orbit-bullets li:last-child {
    margin-right: 0; 
}

.touch .orbit-container .orbit-prev, .touch .orbit-container .orbit-next {
    display: none; 
}

.touch .orbit-bullets {
    display: none; 
}

@media only screen and (min-width:40.063em) {
    .touch .orbit-container .orbit-prev, .touch .orbit-container .orbit-next {
        display: inherit; 
    }

    .touch .orbit-bullets {
        display: block; 
    } 
}

@media only screen and (max-width: 40em) {
    .orbit-stack-on-small .orbit-slides-container {
        height: auto !important; 
    }

    .orbit-stack-on-small .orbit-slides-container > * {
        position: relative !important;
        margin-left: 0% !important;
        opacity: 1 !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        transition: none !important; 
    }   

    .orbit-stack-on-small .orbit-timer {
        display: none; 
    }

    .orbit-stack-on-small .orbit-next, .orbit-stack-on-small .orbit-prev {
        display: none; 
    }

    .orbit-stack-on-small .orbit-bullets {
        display: none; 
    }

    .orbit-stack-on-small .orbit-slide-number {
        display: none; 
    } 
}

div.util-bar.left-col.logo {
    float: left;
    width: 30%;
}

div.util-bar.right-col {
    float: right;
    width: 69%;
}

div.social-icons {
    float: left;
    width: 50%;
}

div.social-icons ul li {
    display: inline-block;
    padding: 0.1em 0.2em;
}

div.links {
    float: right;
    width: 45%;
    color: #000000;
    background-color: transparent;    
}

div.links ul {
    margin: 0px !important;
}

div.links ul li {
    display: inline-block;
    padding: 0px 8px 0px 8px !important;    
    font-size: 15px;
}

div.links .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 14px;
    background-color: #fff;
    color: #000;
    line-height: 35px	
}

div.links .top-bar-section .dropdown li:not(.has-form):hover > a:not(.button){ 
    background-color:#fff; 
    color:#000;
}

.top-bar-section .left li {
    margin-right: 3px !important;
}

.top-bar-section .right li {
    margin-left: 3px !important;
}

div.phone {
    clear: both;
    float: right;
    text-align: right;
    margin-top:70px;
}

div.phone > h3{
    line-height: 16px;
}
div.phone * span{
    letter-spacing: 2px;
    margin-right:-3.5px;
}

p.phone2 > span{
    letter-spacing: 1.5px;
    margin-left:0.5px;
}

div#modal-form {
    position: absolute;
    top: 9.9em;
    /* left: 12em; */
    background: rgba(30,174,227,0.8);
    z-index: 1;
    padding: 1em;
    margin-left: 4em;
}

div#modal-form .row{
    background-color:transparent;
}

div#modal-form .entries{
    line-height:1.5em;
}

div#modal-form .entries div.name {
    width: 49%;
    float: left;
}

div#modal-form .entries div.miles {
    width: 49%;
    float: right;
    text-align:right;
}

.types-massage {
    font-size: 14px;
    padding-left: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.center { 
    text-align:center;
}

.italic { 
    font-style:italic;
}

.home-search-form {
    padding:1em;
}

div.divider { 
    border-bottom:1px solid #aaa; 
    width:98%; 
    height:10px;  
    clear:both; 
    margin:auto;
    margin-bottom:.5em;
}

div.divider:after{
    margin-bottom:1em;
}

div.read-more {
    padding: .5em 0em;
    text-align: right;
}

.no-border { 
    border:none !important
}

.grey { 
    background-color: rgba(47, 47, 47, 0.8) !important;
}

.rounded { 
    border-radius:5px;
}

#footer .row div.boxes {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 1em 0em; 
    float: left;
    width: 100%;
    margin:auto;
}

#footer li {
    list-style:none;
}

#footer .row  div.boxes div.box {
    padding: 1em;
    height: 140px;
    border:1px solid #aaa;
}

#footer .row .search { 
    line-height: 2em;
    /*background: url('http://placehold.it/30x30') no-repeat 10px center;*/
    padding: 0.5em;
}

#footer .row .search input[type="text"] { 
    margin:auto; width:240px;
}

#footer .row .menu { 
}

#footer .row .menu ul { 
    padding:0px; 
    margin:auto; 
    line-height:2em;
}

#footer .row .menu ul li { 
    display:inline-block; 
    padding:0em 0.3em;
}

#footer .row .menu ul li a { 
    color:#000;
}

#footer .row .menu ul li a:hover { 
    color: #ffffff;
}

div.service-result {
    padding: 1em;
}

div.search-form,div.request-appointment-form {
    height: 4.5em;
    padding: 1em 0em;
}

div.service-result-entries:first-child {
    margin-top: 1em;
}

div.service-result-entries {
    border-radius: 5px;
    padding: 2em;
    background: #fff;
    width: 91%;
    margin: auto;
    height: 150px;
    margin-bottom: 1em;
}

a.big {
    padding: 1em 10em;
    line-height: 1em;
    text-align: center;
}

a.medium {
    padding: 0.8em 5em;
    line-height: 1em;
    text-align: center;
}

a.black {
    background-color: #000;
    color: #fff;
}

ul.inline-block li{
    display:inline-block;
}

ul.no-deco li{ 
    list-style:none
}

.btn,.button { 
    padding-top:0.6em; padding-bottom:0.6em;
}

#search-map img {
    max-width: none;
}

#diagnosis-section #human-body-map {
    display: block;
    background: url('../img/humanmusclebone.jpg') no-repeat;
    background-size: 100% 100%;
    height: 700px;
    width: 645px;  
    margin-top: 40px;
}

/*CSS SUBMENU*/
.menu-dropdown .items {
    background: #333333;
    overflow: visible;
    line-height: 2em;
    display:none;
}

.menu-dropdown div.submenu   div  {
    margin-bottom: .5em;
    margin-right: .5em;
    color:#fff;
}

.menu-dropdown div.large-12.columns.items > div  a {
    color:#fff;
    font-size:0.8125rem;
}

div.home-submenu-right {
    line-height: 3em;
    padding: 1em 0em;
    background: #272727 !important;    
}

div.home-submenu-right a {
    margin-left:.3em;
}

.required-field {
    color: red;
}

.ar {
    text-align: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.entry-caption {
    text-align: right;
}

.top-bar {
    background-color: transparent;
}

.top-link-section {
    background-color: transparent;
}

.top-link-section ul {
    font-size: 14px;
    background: transparent
}

.top-link-section ul li {
    padding: 0px 8px 0px 8px !important;
}

.top-bar-section {
    background: transparent;
}

.top-bar-section ul li {
    background: transparent;
}

.top-bar-section .left ul li,
.top-bar-section .right ul li {
    list-style-type: none;
    display: inline;
    background: transparent;
}

.top-bar-section .left li:first-child:before,
.top-bar-section .right li:first-child:before {
    content: none;
}

.top-bar-section ul li > a {
    display: inline;
    padding: 0px;
    margin: 0px 3px;
    background: #272727;
}

.vertical-divider {
    position: relative;
    left: 0px;
    top: 0%;
    bottom: 0%;
    border-left: 1px solid white;            
    margin: 0px 0px 4px 0px;
    height: 120px;
    width: 3%;
    float: left;
}

#header #top-bar {
    margin: 8px 0px 11px 0px;
    padding: 8px;
    padding: 30px;
    background-color: rgba(47,47,47,0.8);
    border-radius: 5px;
}

#header #ads-section {
    opacity: 0.7;    
    height: 310px; 
    margin: 0px; 
    padding: 0px;    
}

.pricinginfo {
    position: relative;
    display: block;
    top: 0px;
    width: auto;
    height: 300px;
    padding: 0px;
    border-radius: 8px;
}

.row {
    width: 100%;
    background-color: #ffffff;
    margin: 0px auto;
    max-width: 76em;
}

#header a:hover {
    color: #21afe4;
}

form {
    margin: 0px;
}

select {
    padding-right: 2px;
}

.footer-link {
    background-color: transparent !important;
}

a.footer-link {
    text-decoration: none;    
}

a.footer-link:hover {
    color: #21afe4;
    text-decoration: none;    
}

.global-nav-top-bar {
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(47, 47, 47, 0.8) !important;
}

.global-nav-top-bar-heading {
    padding: 8px 0px 0px 0px;                
    background-color: rgba(47, 47, 47, 0.8) !important;
}

.global-nav-top-bar-heading a {
    color: #ffffff;
    font-size: 0.8125rem;                
}

.global-nav-button {                
    display: inline-block !important;
    height: 35px;
    background-color: #332829 !important;
    opacity: 1 !important;    
    margin: 5px 5px 0px 0px !important;
    padding: 0px 10px !important;
    line-height: 35px !important;
    border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.8);
}

.global-nav-button img {
    display: inline-block;
    height: 18px;
    width: 18px;
    border: none;
    margin: 0px;
}

.global-nav-button span {
    margin-left: 4px;
    font-size: 14px;
    font-weight: bold;    
}

.global-nav-menu-button {
    margin-top: 3px;
    display: inline-block !important;
    padding: 0px !important;
    height: 43px;
    background-color: #4a4542 !important;
    opacity: 1 !important;        
    text-align: center;
    border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.8);
}

.global-nav-menu-button img {
    display: inline-block;
    height: 24px;
    width: 24px;
    border: none;
    margin: 0px 3px 0px 2px;
}

.global-nav-menu-button span {
    display: inline-block !important;
    padding: 8px !important;
    margin: 0px;
    height: 43px;
    background-color: #383635 !important;
    opacity: 1 !important;        
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.8);
}

.global-nav-top-bar-heading ul {
    margin-left: 0px;
}

.global-nav-top-bar-heading ul li {
    list-style-type: none;
    display: inline;
    background: transparent;
}

.global-nav-contactus-section {
    position: relative;
    display: block;
    color: #ffffff;
    background: rgba( 0,0, 0, 0.5) !important;    
    border-radius: 5px;
    width: 100%;
}

.global-nav-contactus-section p {
    text-align: right; 
    margin: 0 auto;
    padding: 8px;
    font-weight: bold;
}

.global-nav-user-login-section {
    color: #ffffff; 
    background-color: rgba(0, 0, 0, 0.5) !important;
    margin: 0px; 
    float: left; 
    width: 100%;
    border-radius: 5px !important;
    padding: 9px 0px 0px 0px;
    font-weight: bold;
}

.global-nav-user-login-section .row,
.global-nav-user-login-section .columns {
    background-color: transparent;
}

.global-nav-user-login-section input {
    height: 2rem;
    padding: 0.2rem;
    border-radius: 7px;
}

.global-nav-contact-mainmenu-section {
    margin-top: 4px;
}

.v-separator {
    content: "";
    display: inline-block;
    float: left; 
    width: 0px;
    height: 120px;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
}

.global-nav-user-login-section table {
    padding-bottom: 10px !important;
}

.global-nav-user-login-section table,
.global-nav-user-login-section table tr,
.global-nav-user-login-section table td {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
}

.global-nav-user-login-section table input {
    margin: 4px;
}

.global-nav-bottom-bar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 5px;
}

#control-panel {
    position: absolute;
    display: block;
    height: 650px;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.8);
    border-radius: 0px 0px 10px 10px;
    z-index: 99999;
    margin: 0 auto;
    padding: 0px 5px 20px 5px;
}

#control-panel .row {
    background-color: transparent;
}

#control-panel .pointsystem {
    display: block;
    background: url('../img/controlpanel/cp-pointsystem.png') no-repeat;
    background-size: 100% 100%;
    height: 510px;
    width: 300px;
    margin: 6px;
}

#control-panel .topic-title-a {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    top: 10px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 6px;
}

#control-panel .topic-title-b {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    top: 10px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

#control-panel .help {
    float: right;
    background: url('../img/controlpanel/cp-question.png') no-repeat;
    height: 26px;
    width: 26px;
    margin: 8px;
}

.reveal-modal{
    position: fixed !important;
    top:50% !important;
    vertical-align: middle;
    margin-top:-15%;
}

#control-panel .previous-next {
    position: relative;
    display: block;
    background: url('../img/controlpanel/previous-next.png') no-repeat;
    background-size: 100% 100%;
    height: 37px;
    width: 91px;
    margin: 0 auto;    
}

#control-panel .previous {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 37px;
    width: 45px;
}

#control-panel .next {
    position: absolute;
    display: block;
    top: 0px;
    left: 46px;
    height: 37px;
    width: 45px;
}

#control-panel .columns {
    padding: 0px;
    margin: 0px;
}

#control-panel .favoritelocation {
    position: relative;
    display: block;
    height: 200px; 
    width: 190px;
    margin: 15px 0px 10px 0px; 
    border: 3px solid #4bb1cf; 
    border-radius: 8px;
    color: #ffffff; 
    background-color: #353535;
}

#control-panel .preferredpractitioner {
    position: relative;
    display: block;
    height: 166px; 
    width: 190px;
    margin: 15px 0px 0px 0px; 
    border: 3px solid #4bb1cf; 
    border-radius: 8px;
    color: #ffffff; 
    background-color: #353535;
}

#control-panel .rockbotcom {
    position: relative;
    display: block;
    background: url('../img/controlpanel/rockbotcom.png') no-repeat;
    background-size: 100% 100%;
    height: 79px;
    width: 177px;
    margin: 10px 0px 0px 0px;
}

#control-panel .getafree {
    position: relative;
    display: block;
    background: url('../img/controlpanel/getafree.png') no-repeat;
    background-size: 100% 100%;
    height: 79px;
    width: 177px;
    margin: 10px 0px 0px 25px;
}

#control-panel .operatorconversation {
    position: relative;
    display: block;
    height: 208px;
    width: 230px;    
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #ffffff; 
    background-color: #353535;
    margin: 0 auto;
    margin-top: 29px;
}

#control-panel .operatorconversation-talk {
    position: relative;
    display: block;
    height: 50px;
    width: 230px;    
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #ffffff; 
    background-color: #353535;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0px 5px 0px 5px;
}

.button-a {
    position: relative;
    display: block;
    height: 35px;    
    width: 100px;
    line-height: 30px;
    border-radius: 5px;
    color: #ffffff; 
    background-color: #2d2d2d; 
    padding: 1px;    
    text-align: center;
    border: 2px solid rgba( 0, 0, 0, 0.5);
}

.button-b {
    position: relative;
    display: block;
    height: 35px;    
    width: 100px;
    font-weight: bold;
    line-height: 30px;
    border-radius: 5px;
    color: #21afe4; 
    background-color: #2d2d2d; 
    padding: 1px;    
    text-align: center;
    border: 2px solid rgba( 0, 0, 0, 0.5);
}

.socialnet {
    display: block;
    height: 24px;
    width: 24px;    
}

.socialnet-blogger {
    background: url('../img/socialnet/blogger.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-facebook {
    background: url('../img/socialnet/facebook.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-googleplus {
    background: url('../img/socialnet/googleplus.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-linkedin {
    background: url('../img/socialnet/linkedin.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-mashable {
    background: url('../img/socialnet/mashable.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-pinterest {
    background: url('../img/socialnet/pinterest.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-stumbleupon {
    background: url('../img/socialnet/stumbleupon.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-thumbtacks {
    background: url('../img/socialnet/thumbtacks.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-twitter {
    background: url('../img/socialnet/twitter.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-yellowpages {
    background: url('../img/socialnet/yellowpages.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-yelp {
    background: url('../img/socialnet/yelp.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-youtube {
    background: url('../img/socialnet/youtube.png') no-repeat;
    background-size: 100% 100%;
}

.socialnet-reddit{
    background: url('../img/socialnet/reddit.png') no-repeat;    
}

.socialnet-diggit{
    background: url('../img/socialnet/diggit.png') no-repeat;   
}

#control-panel .client-info {
    position: relative;
    display: block;
    height: 480px;
    width: 260px;    
    border-radius: 15px;
    color: #ffffff; 
    background-color: #e5e6a9; 
    margin: 0 auto;
    margin-top: 40px;
    padding: 0px 5px 0px 5px;
    font-size: 15px;
}

#control-panel .client-info h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 18px 0px 25px 0px;
}

#control-panel .client-info table,
#control-panel .client-info table tr,
#control-panel .client-info table td {
    font-size: 13px;
    background-color: transparent;    
    border: none;
}

#control-panel .client-info table {
    padding: 10px 10px 0 10px;
}

#control-panel .client-info table tr,
#control-panel .client-info table td {
    line-height: 16px;
    padding: 0 0 0 3px;
}

#control-panel .client-info table span {
    padding-right: 3px;
}

#control-panel .client-info #photo {
    position: relative;
    display: block;
    height: 90px;
    width: 90px;
    border: 1px solid gray;
    margin: 0 auto;
}

.military-discount {
    display: block;
    height: 13vw;    
    width: 100%;    
    background: url('../img/militarydisc.jpg') no-repeat;
    background-size: 100% 100%;
}

.senior-discount {
    display: block;
    height: 13vw;    
    width: 100%;    
    background: url('../img/seniordisc.jpg') no-repeat;
    background-size: 100% 100%;
}

.hp-discount {
    display: block;
    height: 13vw;    
    width: 100%;    
    background: url('../img/hpdisc.jpg') no-repeat;
    background-size: 100% 100%;
}

.check-blog {
    display: block;
    height: 13vw;    
    width: 100%;    
    background: url('../img/checkblog.jpg') no-repeat;
    background-size: 100% 100%;
}

.discount-box h5 {
    font-size: 16px;
    line-height: 1.4vw;
}

/*

Nico Cabrera Updates:


*/

.nico_simple_div{
    width:65%;
    max-width: 960px;
    background-color: rgba(45,73,102,0.8);
}

.nico_transparency{
    background-color: rgba(45,73,102,0.8) !important;
}

a:not(.small):not(.city_links):not(){
    font-size:20px !important;
}

div.fc-content{
    font-size: 14px;
}


.nico_thera_cpanel{
    padding:20px;
    background:#fbfbfb;
}

ul.footer_links > li > a.socialnet{
    float:left;
    margin-top:5px;
    margin-right:5px;
}

a.city_links{
    color:black !important;
    margin-right:5px;
}

a.city_links:hover{
    color:white !important;
}


/* SITEMAP */

.sitemap > ul > li > a{
    font-size:14px !important;
}

.sitemap > ul > li{
    margin-left:20px;
}

/* Scheduler */

.block-style{
    height:80%;
    overflow: scroll;
}

.block-style * select{
    height:40px;
}

.block_time{
    height:20px;
    width:100%;
    float:left;
}

/* CONTACT FORM */

.form-inputs > form > div.row{
padding-top:10px;
line-height:35px
}


.form-inputs > form{
    padding:20px;
}

/*quick-links*/

.copyright{
    color:#787878;
    font-size:12px;
}

/* search clinics */

.search-clinic{
    padding:10px;
    width:70%;
    border-radius:10px;
    border:3px solid #76a6ff;
    margin-bottom:10px;
    background:white;
}

.search-clinic > img{
    margin-right:5px;
    margin-top:5px;
}

.search-clinic * div.btn{
    background:#2270ff;
    padding:10px;
    margin-top:20px;
    width:150px;
    text-align: center;
    color:white;
    border-radius: 3px;
    transition:background 0.2s;
    border-bottom:2px solid #1250c1;
}

.search-clinic * div.btn:hover{
    background:#1964ee;
    border-bottom:none;
    margin-top:22px;
    }


    /* WAIVER */

div.contract{
    width:100% !important;
}
.contract > p{
    font-size:14px;
    margin: auto !important;
}

.contract > p.und{
    text-decoration: underline;
}


    /* INDIVIDUAL LOCATIONS */

.i_l_nav{
    background:#27aae0;
    width:100px;
    max-width:200px;
    border-radius:5px;
    padding:10px;
    text-align: center;
    color:white;
    margin-top:-5px;
    float:left;
    margin-right:2px;
}

.global-padding{
    padding:20px;
}

.blueborder{
    border:4px solid #27aae0;
}

.payment-card > .bluebody{
    width:22%;
    margin-right:4px;
    border-radius: 4px;
}

.blue-gradient{
    height:5px;
    width:100%;
    background:linear-gradient(to right, #ffffff, #27aae0,#ffffff);
    margin-top:30px;
    margin-bottom:30px;
}

.blueline{
    width:auto;
    height:5px;
    background:#27aae0;
}

.bluefont{
    color:#27aae0;
}

.greybody, .bluebody{
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:40px;
}

.bluebody{
    background:#27aae0;
}

.greybody{
    background:#e5e5e5;
}

.curves{
    border-radius:10px;
}

.the_btn{
    padding:4px;
    background:linear-gradient(#0e3770,#1e60be);
    border:3px solid #0751b9;
    border-radius:20px;
    color:red !important;
    width:150px;
    font-size:13px;
    text-align: center;
    float:left;
    margin-right:10px;
    margin-top:5px;
}

.the_btn > a{
    color:white;
}

.large_btn{
    width:200px;
    height:40px;
    font-size:24px;
}

.modal-img > img{
    margin-right:10px;
    width:40px;
}

.connect-img > img{
    margin-right:10px;
    width:17px;
}

.business-hours > div{
    margin-bottom:10px;
}

.modal-btn-location{
    width:40px !important;
    height:40px !important;
    padding:20px;
}

/* search clinics */

.search-clinic{
    padding:10px;
    width:70%;
    border-radius:10px;
    border:3px solid #76a6ff;
    margin-bottom:10px;
    background:white;
}

.search-clinic > img{
    margin-right:5px;
    margin-top:5px;
}

.search-clinic * div.btn{
    background:#2270ff;
    padding:10px;
    margin-top:20px;
    width:150px;
    text-align: center;
    color:white;
    border-radius: 3px;
    transition:background 0.2s;
    border-bottom:2px solid #1250c1;
}

.search-clinic * div.btn:hover{
    background:#1964ee;
    border-bottom:none;
    margin-top:22px;
    }


    /* WAIVER */

div.contract{
    width:100% !important;
}
.contract > p{
    font-size:14px;
    margin: auto !important;
}

.contract > p.und{
    text-decoration: underline;
}






.bluebody{
    background:#27aae0;
}

.greybody{
    background:#e5e5e5;
}

.curves{
    border-radius:10px;
}

.the_btn{
    padding:4px;
    background:linear-gradient(#0e3770,#1e60be);
    border:3px solid #0751b9;
    border-radius:20px;
    color:red !important;
    width:150px;
    font-size:13px;
    text-align: center;
    float:left;
    margin-right:10px;
    margin-top:5px;
}

.the_btn > a{
    color:white;
}

.large_btn{
    width:200px;
    height:40px;
    font-size:24px;
}

.modal-img > img{
    margin-right:10px;
    width:40px;
}

.connect-img > img{
    margin-right:10px;
    width:17px;
}

.business-hours > div{
    margin-bottom:10px;
}

.modal-btn-location{
    width:40px !important;
    height:40px !important;
}

/* search clinics */

.search-clinic{
    padding:10px;
    width:70%;
    border-radius:10px;
    border:3px solid #76a6ff;
    margin-bottom:10px;
    background:white;
}

.search-clinic > img{
    margin-right:5px;
    margin-top:5px;
}

.search-clinic * div.btn{
    background:#2270ff;
    padding:10px;
    margin-top:20px;
    width:150px;
    text-align: center;
    color:white;
    border-radius: 3px;
    transition:background 0.2s;
    border-bottom:2px solid #1250c1;
}

.search-clinic * div.btn:hover{
    background:#1964ee;
    border-bottom:none;
    margin-top:22px;
    }


    /* WAIVER */

div.contract{
    width:100% !important;
}
.contract > p{
    font-size:14px;
    margin: auto !important;
}

.contract > p.und{
    text-decoration: underline;
}




