
.modality-animated-icon {
    position: relative;
    display: inline-block;
    height: 120px;
    width: 87px;    
    top: 0px;
    left: 0px;
    margin: 7px;
}

.modality-animated-icon-red {
    background: url('../img/anim-red.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-green {
    background: url('../img/anim-green.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-orange {
    background: url('../img/anim-orange.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-blue {
    background: url('../img/anim-blue.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-yellow {
    background: url('../img/anim-yellow.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-darkblue {
    background: url('../img/anim-darkblue.png') no-repeat;
    background-position: 0px 0px;
}

.modality-animated-icon-violet {
    background: url('../img/anim-violet.png') no-repeat;
    background-position: 0px 0px;
}

.accordion .content p {
    position: relative;
    display: inline-block;
    margin: 10px;
}