body{
	/*background:#f8f8f8;*/
	margin-top:30px; /*for navigation */
}


div>p{
	font-size:13px;
	color:#8a8a8a;
}

b{
	color:#f7b942;
}

nav>ul>li{
	padding:0px;
}

nav>ul>li:hover{
	background:#4d7ba5;
	color:#2f3841;
}


h1>a{
	color:#568bbc !important;
}

section.top-link-section > ul{
	background:transparent;
}

nav>ul>li>h1>a{
	font-family:'Arial' !important;
	text-decoration: none !important;
	border:none !important;
}

nav>ul>li{
	border:none !important;
	margin-right:20px !important;
}

nav>section>ul>li{
	transition:font-size 0.2s;
}

/*nav{
	background:#2f3841 !important;
	transition:padding 0.3s
}
*/
section>ul>li{
	border:none !important;
	padding-top:13px;
}



.amn_head{
	background:#568bbc;
	height:213px;
	width:auto;
	margin:auto;
	padding-top:28px;
}

.amn_banner_con{
	background:#6695c1;
	width:100%;
	height:163px;
	margin:auto !important;
	padding:18px;
}

.login{
	height:calc(100% + (18px*2));
	background:#fbfbfb;
	margin:-18px;
}

.login_head{
	background:#446686;
	font-size:13px;
	padding:10px;
	text-align:center;
	font-style:italic;
}


input{
	font-size:13px !important;
	height:30px !important;
	margin-bottom:8px !important;
}

.button{
	float:right;
	font-style:italic;
	color:white;
	margin-left:10px;
	width:65px !important;
	transition:none;
	padding:6px !important;
}


small>a{
	margin-right:7px;
	margin-left:7px;
}

.signup_btn{
	background:#f7b942;
}



.login_head>a{
	color:#d2d1d1;
}

.head_button{
	padding:7px;
	margin-right:4px;
	background:#f8f8f8;
	width:auto;
	float:left;
	font-size:13px;
	font-family:'Arial';
	color:#8a8a8a;
}

.head_button:hover{
	background:#568bbc;
	color:white;
	cursor:pointer;
}

.body{
	margin-top:22px;
}

li.title{
	font-weight:600;
	color:white;
	list-style-type:none;
	background:#568bbc;
	padding:5px;
	font-size:12px;
}




ul.sidebar * li{
	border-bottom:1px solid #c7c7c7;
	padding:5px;
	color:#8a8a8a;
	font-style:italic;
	list-style-position: inside;
	font-size:12px;
}


/*
li:not(.title):before{
	content:"\2022";
	font-style:normal;
	font-size:15px;
	color:#8a8a8a;
	margin-right:4px;
}
*/

li:hover{
	background:#e4e4e4;
	cursor:pointer;
}

li.title:hover{
	background:#568bbc;
}

.sidebar{
	margin-top:70px;
}

a:hover{
	color:white !important;
	text-decoration: none;
}

li{
	transition:background 0.1s;
}

h1{
	font-size:37px;
	color:#326492;
	font-family:'Sedan';
	font-weight:400;
}

ul.p_number>li{
	color:#f7b942 !important;
}

ul.p_number>li:hover, ul.email>li:hover{
	background:#2f3841 !important;
}

body>p{
	font-family:'Arial';
	color:#646464;
	line-height:25px;
}

iframe{
	height:relative;
	overflow:hidden;
	margin-top:70px;
	transition:opacity 1s;
	border:none; /* firefox */
}

.frame_img{
	width:100%;
	height:100%;
}

#frame{
		margin-top:70px;
		letter-spacing: 0px
}




@media screen and (max-width:360px){
	li.title{
		margin-left:-33px;
	}
	.drop{
		display:none;
	}

	.head_button{
		display:none;
	}

	.login{
		margin:auto;
	}
}



@media screen and (min-width:768px){

}