
#soapnote-section #human-body-map1 {
    display: block;
    background: url('../img/humanmuscle.jpg') no-repeat;
    background-size: 100% 100%;
    height: 600px;
    width: 545px;   
    cursor:pointer;
}

#soapnote-section #human-body-map2 {
    display: block;
    background: url('../img/humanmusclebone.jpg') no-repeat;
    background-size: 100% 100%;
    height: 600px;
    width: 545px;   
    cursor:pointer;
}

#soapnote-section input[type="checkbox"] {
    margin: 6px;
}   

#soapnote-section .modality-marker {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: 18px;   
    margin-bottom: -10px;   
}

#soapnote-section .modality-marker-black {
    background: url('../img/marker-black.png') no-repeat;
    background-size: 100% 100%;
}

#soapnote-section .modality-marker-blue {
    background: url('../img/marker-blue.png') no-repeat;
    background-size: 100% 100%;
}

#soapnote-section .modality-marker-darkblue {
    background: url('../img/marker-darkblue.png') no-repeat;
    background-size: 100% 100%;
}

#soapnote-section .modality-marker-green {
    background: url('../img/marker-green.png') no-repeat;
    background-size: 100% 100%;
}

#soapnote-section .modality-marker-orange {
    background: url('../img/marker-orange.png') no-repeat;
    background-size: 100% 100%;
}

#soapnote-section .modality-marker-red {
    background: url('../img/marker-red.png') no-repeat;
    background-size: 100% 100%;
}

#soapnote-section .modality-marker-violet {
    background: url('../img/marker-violet.png') no-repeat;
    background-size: 100% 100%;
}

#soapnote-section .modality-marker-yellow {
    background: url('../img/marker-yellow.png') no-repeat;
    background-size: 100% 100%;
}

#soapnote-section .modality-desc {
    position: absolute;
    display: block;
    min-height: 50px;
    overflow: auto;
    width: 70%;
    z-index: 99999;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: beige;
    padding: 10px;
}

#soapnote-section .pain-marker {
    position: absolute;
    display: block;
    background-size: 100% 100%;
    height: 30px;
    width: 30px;     
    z-index: 99999;
}

#soapnote-section .pain-marker-info {
    position: absolute;
    display: block;
    height: 30px;
    width: 120px;     
    z-index: 99999;
    font-weight: bold;
    color: #000000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#soapnote-section #pain-description {
    position: absolute;
    display: block;
    height: 130px;
    width: 360px;
    border-radius: 15px;
    background-color: beige;
    border: 1px solid gray;
    padding: 10px;
    z-index: 99999;
}

#soapnote-section #pain-description table {
    width: 100%;
    background-color: beige;
    border: none;
    padding: 0px;
    margin: 0px;
}

#soapnote-section #pain-description table tr,
#soapnote-section #pain-description table td {
    background-color: beige;
    border: none;
    padding: 2px;
}

.modality-selection-button {
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
}

.alert-error {
    color: red;
}

.labelvalue {
    height: 43px;
}

#soapnote-section .h-1 {
    display: block;
    font-size: 23px;
    font-weight: bold;
}

#soapnote-section .h-2 {
    display: block;
    font-size: 18px;
    font-weight: normal;
}

.final-agree {
    transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);    
}

#soapnote-listing-section table tr th {
    text-align: center;
}

#soapnote-listing-section table tr td {
    text-align: left;
    padding: 3px 3px 3px 8px;    
}