@import url(bootstrap.css);
@import url(admin.css);


#services li {
    width: 49%;
    float: left;
    list-style: none;
    line-height: 2em;
}
#services li input[type="checkbox"] {
    margin: auto;
    margin-right: 5px;
}

/* SOAP DESIGN */

.soap_cont{
    width:98%;
    height:150px;
    resize:vertical;
    overflow:scroll;
    max-height: 300px;
}

select[multiple]{
	width:100%;
}

.accordion-group{
	transition:border-color 0.2s;
}

.accordion-group:hover{
	transition:border-color 0.2s;
	border-color:#b6b6b6 !important;
}

.with-banner{
	background:url('/assets/img//amn_bg.jpg') !important;
}

a:hover{
	text-decoration: none;
}

.accordion-heading:hover{
	background:#fafafa;
}


/* HUMAN IMG */
#diagnosis-section, #human-body-map {
    display: block;
    background: url('/assets/img/humanmuscle.jpg') no-repeat;
    background-size: 100% 100%;
    height: 400px;
    width: 100%;  
    margin-top: 40px;
}
