body{
	background:url('img/bg2.jpg');
}



.login{
	width:60%;
	margin:auto;
	background:url('img/bg.png');
	border-radius:20px;
	padding:30px;
}

.form-cont{
	padding:5%;
	background:#0d0d0d;
	margin-top:30px;
	border-radius: 10px;
	border:3px solid #534e4b;
}

h3{
	color:#46a2cc !important;
	font-style:italic;
}

h4{
	color:#dbd0ce !important;
}

h4 > b{
	color:#d09e00 !important;
}

p{
	font-size:12px;
	color:white;
}

.btn{
	background:#1540be !important;
	border-width: 2px !important;
	border-color: #9e9e9e !important;
	box-shadow: 1px -3px 20px #142765 inset;
	border-radius: 5px !important;
	padding-top:4px !important;
	padding-bottom:4px !important;
	color:#f4f4f4 !important;
}

.form-control{
	box-shadow: 0px 0px 10px #c2c2c2 inset !important;
	border-color: #949494 !important;
	border-radius: 8px !important;
	border-width:4px !important;
	padding-left:30px !important;
}

.form-username{
	background:white;
	background-image:url('img/logo.png') !important;
	background-repeat: no-repeat;
}

.form-password{
	background:white;
	background-image:url('img/pass.png') !important;
	background-repeat: no-repeat;
}

.btn-join{
	background-image:url('img/logo.png') !important;
	background-repeat: no-repeat !important;
	padding-right:40px !important;
	background-position:right !important;
}

.btn-medic{
	background-image:url('img/medic.png') !important;
	background-repeat: no-repeat !important;
	padding-right:40px !important;
	background-position:right !important;
}

.Days{
	width:90px;
	height:90px;
	background:url('img/days.png');
	position:absolute;
	z-index:5;
	margin-top:-50px;
	margin-left:500px;
}